services:
  app:
    image: mcr.microsoft.com/devcontainers/go:2-1.25-bookworm
    container_name: app-backend
    privileged: true
    volumes:
      - ..:/workspace/backend:cached
    command: sleep infinity
    depends_on:
      - hyperdx
      - influxdb3

  hyperdx:
    image: docker.hyperdx.io/hyperdx/hyperdx-all-in-one:latest
    container_name: hyperdx-all-in-one
    user: "0:0"
    privileged: true
    ports:
      - "8081:8080"    # HyperDX UI
      - "4317:4317"    # OTLP gRPC
      - "4318:4318"    # OTLP HTTP
      - "8123:8123"    # ClickHouse HTTP
      - "9001:9000"    # ClickHouse Native
      - "3001:3000"    # App port
    volumes:
      - ../.volumes/db:/data/db
      - ../.volumes/ch_data:/var/lib/clickhouse
      - ../.volumes/ch_logs:/var/log/clickhouse-server
      - ../.config/custom-local-config.yaml:/etc/otelcol-contrib/custom.config.yaml:ro
      - /private/var/log:/host/var/log:ro
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-hyperdx_dev_password}
      - CUSTOM_OTELCOL_CONFIG_FILE=/etc/otelcol-contrib/custom.config.yaml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  influxdb3:
    container_name: influxdb3-core
    image: influxdb:3-core
    user: "0:0"    
    ports:
      - "8181:8181"
    volumes:
      - ../.volumes/influxdb3/data:/var/lib/influxdb3/data
      - ../.volumes/influxdb3/plugin:/var/lib/influxdb3/plugins
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
  
  influxdb3-explorer:
    container_name: influxdb3-explorer
    image: influxdata/influxdb3-ui:latest
    ports:
      - "8888:80"
      - "8889:8888"
    volumes:
      - ../.volumes/influxdb3_ui/db:/db:rw
      - ../.volumes/influxdb3_ui/config:/app-root/config:ro
    environment:
      SESSION_SECRET_KEY: "${SESSION_SECRET_KEY:-$(openssl rand -hex 32)}"
    command: ["--mode=admin"]
    depends_on:
      - influxdb3
